openapi: 3.1.0
info:
  title: Treasury Prime Bank Accounts Payments API
  version: '1'
  description: 'REST API covering Accounts, Persons, Businesses, Cards, Payments

    (ACH, Wire, Book, Check), Transactions, Statements, and Webhooks across

    Treasury Prime''s network of sponsor banks. Endpoints derived from

    https://docs.treasuryprime.com/.

    '
  contact:
    name: Treasury Prime
    url: https://developers.treasuryprime.com/
servers:
- url: https://api.sandbox.treasuryprime.com
  description: Sandbox
security:
- BasicAuth: []
tags:
- name: Payments
paths:
  /ach:
    get:
      tags:
      - Payments
      summary: List ACH transfers
      responses:
        '200':
          description: ACH list
    post:
      tags:
      - Payments
      summary: Create an ACH transfer
      responses:
        '200':
          description: ACH created
  /ach/{id}:
    get:
      tags:
      - Payments
      summary: Fetch an ACH transfer
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ACH
    patch:
      tags:
      - Payments
      summary: Update an ACH transfer
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Updated
  /book:
    get:
      tags:
      - Payments
      summary: List book transfers
      responses:
        '200':
          description: Book transfer list
    post:
      tags:
      - Payments
      summary: Create a book transfer
      responses:
        '200':
          description: Created
  /book/{id}:
    get:
      tags:
      - Payments
      summary: Fetch a book transfer
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Book transfer
    patch:
      tags:
      - Payments
      summary: Update a book transfer
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Updated
  /check:
    get:
      tags:
      - Payments
      summary: List issued checks
      responses:
        '200':
          description: Checks
    post:
      tags:
      - Payments
      summary: Issue a check
      responses:
        '200':
          description: Created
  /check/{id}:
    get:
      tags:
      - Payments
      summary: Fetch an issued check
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Check
    patch:
      tags:
      - Payments
      summary: Update an issued check
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Updated
  /check_deposit:
    get:
      tags:
      - Payments
      summary: List check deposits
      responses:
        '200':
          description: Deposits
    post:
      tags:
      - Payments
      summary: Create a check deposit
      responses:
        '200':
          description: Created
  /check_deposit/{id}:
    get:
      tags:
      - Payments
      summary: Fetch a check deposit
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Deposit
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Auth using API Key ID (username) and Secret (password).
