openapi: 3.2.0
info:
  title: Treasury Prime Bank Cards API
  version: '1'
  description: 'REST API covering Accounts, Persons, Businesses, Cards, Payments

    (ACH, Wire, Book, Check), Transactions, Statements, and Webhooks across

    Treasury Prime''s network of sponsor banks. Endpoints derived from

    https://docs.treasuryprime.com/.'
  contact:
    name: Treasury Prime
    url: https://developers.treasuryprime.com/
servers:
- url: https://api.sandbox.treasuryprime.com
  description: Sandbox
security:
- BasicAuth: []
tags:
- name: Cards
paths:
  /card:
    get:
      tags:
      - Cards
      summary: List cards
      responses:
        '200':
          description: Cards
      operationId: getCard
      x-operation-id-source: derived
    post:
      tags:
      - Cards
      summary: Create a card
      responses:
        '200':
          description: Created
      operationId: postCard
      x-operation-id-source: derived
  /card/{id}:
    get:
      tags:
      - Cards
      summary: Fetch a card
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Card
      operationId: getCardById
      x-operation-id-source: derived
    patch:
      tags:
      - Cards
      summary: Update a card
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Updated
      operationId: patchCardById
      x-operation-id-source: derived
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Auth using API Key ID (username) and Secret (password).
